@model List<CRUDAPP.Models.Movies.ShowMovieViewModel>

<h1>Movies list</h1>

<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Director</th>
            <th>Production date</th>
            <th>Type</th>
            <th>Rating</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @{
            var rowNumber = 1;
        }
        @foreach (var movie in Model)
        {
            <tr>
                <td>@(rowNumber++)</td>
                <td>@movie.Title</td>
                <td>@movie.Director.Name @movie.Director.Surname</td>
                <td>@movie.Production.ToString("ddd dd MMMM yyyy")</td>
                <td>@movie.Types</td>
                <td>@movie.Rating</td>
                <td><a type="button" class="btn btn-light" href="Movies/View/@movie.Id" Views>View</a></td>
            </tr>
        }
    </tbody>
</table>

